<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/create_vehicule" method="POST">
        <p>marque:<input type="text" name="marque"></p>
        <p>modele: <input type="text" name="modele"></p>
        <p>annee: <input type="text" name="annee"></p>
        <input type="submit" value="inserer" >
    </form>
</body>
</html>